<!-- <form>
   
  <input type="text" placeholder="First Name">
  <br>

  <input type="text" placeholder="Last Name">
  <br>

  <input type="text" placeholder="Mobile Number">
  <br>

  <input type="text" placeholder="Age">
  <br>
</form> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="app/third-form">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="app/edit-item">Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="app/first-try">Try-1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="app/second-try">Try-2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="app/workers">Sing up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="app/user-data">Data</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
<!-- <h1>hello!</h1> -->
<!-- <div *ngIf="data"> -->
<!-- <h2>Fetched Data {{ title }} </h2> -->
<!-- <pre>{{ data }}</pre> -->
<!-- </div> -->


<router-outlet> </router-outlet>