<form [formGroup]="userForm" >
  <div class="col-md-3 mt-4 container">

  <label for="name">Name</label>
   <input type="text" id="name" formControlName="name"><br><br>

   <label for="email">Email</label>
   <input type="email" id="email" formControlName="email"><br><br>
  
   <label for="number">Number</label>
   <input type="number" id="number" formControlName="number"><br><br>

   <label for="pass">Password</label>
   <input type="password" id="pass" formControlName="password"><br><br>
    
   <button type="submit" type="submit" class="btn btn-primary" [disabled]="userForm.invalid" (click)="onSave()">Submit</button><br><br>
   </div>
</form>

<!-- <button (click)="setData()">Set data</button> -->